body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cv-card-padding {
  padding: 24px;
}

.cursive {
  font-family: 'Mansalva', cursive !important;
}

.flex {
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #000; 
}