@import 'breakpoints';
$c1:#555;
$c2:#333;
$fontFamily:'Roboto', sans-serif;

a{
	text-decoration:none;
}
.center-container{
	position: relative;
	.center-item{
		position: absolute;
		width: 100%;
		text-align: center;
		top:50%;
		transform: translateY(-50%);
	}
}
.f-width{
	width:100%;
}
.small-caps{
	font-variant:small-caps;
}
.margintb-30{
	margin-top:30px;
	margin-bottom:30px;
}
.padd10{
	padding:10px;
}
.fRight{
	float:right;
}
.txtCenter{
	text-align:center;
}
.txtJustify{
	text-align:justify;
}
.display-3 .material-icons, .headline .material-icons{
	font-size:inherit;
	vertical-align:middle;
}
#profView{
	min-height: 90vh;
	padding-top:50px;
	width: 100%;
	text-align: center;
	.center-item{
		top:40%;
	}
	h1{
		font-size:1.75rem;
		@include bp-small{
			font-size: 2.25rem;
		}		
		@include bp-medium{
			font-size: 4rem;
		}
		@include bp-large{
			font-size: 5rem;
		}		
	}
	h6{
		font-size: 1rem;
		@include bp-medium{
			font-size: 1.25rem;
		}
		@include bp-large{
			font-size: 2rem;
		}				
	}

	.socialIcons{
		padding-top:10px;
		svg{
			width: 20px;
			height: 20px;
			padding:10px;
			position: relative;
			transition:all linear 0.25s;
			fill:$c1;
			cursor: pointer;		
			&:hover{
				transition:all linear 0.25s;
				transform:scale(1.15);
				fill:$c2;
			}
			@include bp-small{
				width: 25px;
				height: 25px;
			}		
			@include bp-medium{
				width: 30px;
				height: 30px;
			}
			@include bp-large{
				width: 40px;
				height: 40px;
			}	
		}
	}


}
#contactThanks{
	display:none;
}

.thanks-card.mdl-card {
  width: 320px;
  height: 320px;
  max-width: 100%;
  margin: auto;
}
.thanks-card > .mdl-card__title {
  color: #fff;
  background:
    url('../images/dog.png') bottom right 15% no-repeat #46B6AC;
}